---
import Section from '@components/Section.astro'

import { projects } from '@data'
---

<Section title="Proyectos">
  <ul class="grid gap-4">
    {
      projects.map(({ url, description, highlights, name, isActive }) => (
        <li>
          <article class="rounded-lg border border-solid flex gap-4 flex-col p-4 h-full">
            <header class="flex-1">
              <h3 class="font-bold text-xl mb-1">
                <a
                  class="text-slate-900 hover:underline"
                  href={url}
                  title={`Ver el proyecto ${name}`}
                >
                  {name}
                </a>
                {isActive && <span class="text-emerald-500">&bull;</span>}
              </h3>
              <p class="mb-1">{description}</p>
            </header>
            <footer class="flex flex-wrap gap-1">
              {highlights.map((highlight) => (
                <span class="rounded-md bg-slate-200 text-slate-700 text-xs font-medium py-1 px-3">
                  {highlight}
                </span>
              ))}
            </footer>
          </article>
        </li>
      ))
    }
  </ul>
</Section>

<style>
  ul {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
</style>
