---
import ForkIcon from '@icons/ForkIcon.astro'
import StarIcon from '@icons/StarIcon.astro'
import InProduction from './InProduction.astro'
import Language from './Language.astro'

interface Project {
  title: string
  slug: string
  description: string
  language: string
  sourceCode: string
  link: string
  stars: number
  forks: number
}

const { project } = Astro.props as { project: Project }
---

<div class='bg-blue-100 py-6 px-2'>
  <div class='flex text-lg px-6 gap-2 flex-wrap'>
    <div class='flex-grow text-green'>
      {project.title}
    </div>
    <div class='flex justify-end items-center text-base gap-5 text-gray-100'>
      <span class='flex items-center gap-1'>
        <StarIcon />
        {project.stars}
      </span>
      <span class='flex items-center gap-1'>
        <ForkIcon />
        {project.forks}
      </span>
    </div>
  </div>
  <div class='px-6 py-4'>
    <p class='my-2 text-gray-200'>{project.description}</p>
    {project.link && <InProduction link={project.link} />}
  </div>
  <p class='px-6 mt-4'>
    <span class='text-gray-200 mr-4 text-sm'>Language:</span>
    <Language>{project.language}</Language>
  </p>
</div>
